<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Barcode Duplicator
    </ion-title>
<!--    <ion-buttons slot="primary" *ngIf="connected()">-->
<!--      <ion-button (click)="printWeight()">-->
<!--        Print-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Barcode Duplicator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="capitalize">
      <strong style="font-size: 100px">Scan</strong>
    </div>
<!--    <div style="font-size: 50px; margin-top: 30px;" *ngIf="priced()">-->
<!--      X-->
<!--    </div>-->
<!--    <div class="capitalize" style="font-size: 80px; margin-top: 20px;" *ngIf="priced()">-->
<!--      {{ price() }}$-->
<!--    </div>-->
<!--    <div style="font-size: 50px; margin-top: 20px;" *ngIf="priced() && calculated()">-->
<!--      =-->
<!--    </div>-->
<!--    <div class="capitalize" style="font-size: 120px; margin-top: 20px;" *ngIf="priced() && calculated()">-->
<!--      <strong style="font-size: 120px">{{ totalString() }}$</strong>-->
<!--    </div>-->
  </div>
</ion-content>
