<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Status: {{ connected() ? 'Scale connected' : 'Please connect a USB scale' }}
    </ion-title>
    <ion-buttons slot="primary" *ngIf="connected()">
      <ion-button (click)="printWeight()">
        Print
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Status: {{ connected() ? 'Scale connected' : 'Please connect a USB scale' }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize" style="font-size: 100px">{{ weightString() }}</strong>
  </div>
</ion-content>
